body {
   color: white;
   background: #212121;
   font-family: 'Font', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input[type='search'] {
   color: white;
   background: black;
   width: 150px;
   height: 40px;
   border-radius: 14px;
   text-align: center;
   transition: .4s
}
input:focus {
   outline: none;
   border: 2px solid teal;
}
input:invalid {
   border: 2px solid red;
}
button {
   width: 70px;
   height: 35px;
   letter-spacing: 1px;
   border-radius: 5px;
}
p {
   text-align: center;
   text-decoration: underline;
}
#opt1 {
   max-width: 380px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
#opt2 {
   display: flex;
   gap: 20px;
   max-width: 300px;
   margin: 15px auto 10px;
   justify-content: space-between;
}
#opt2 span {
   display: flex;
   align-items: center;
}
#fill {
   max-width: 320px;
   margin: 40px auto 0;
   line-height: 2;
}
iframe {
   display: none;
   width: 97%;
   height: 400px;
   margin: 15px auto 0;
   max-width: 1000px;
}
a { color: white; }
a:hover {
   color: Tomato;
   transition: .4s;
   letter-spacing: 1px;
}
footer {
   line-height: 1.7;
   margin: 35px auto 10px;
   text-align: center;
}

@font-face {
   font-family: 'Font';
   src: url('Font/ZT_Formom.ttf');
}
